<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>791687772834-6ik5p9j2i60imd5850mhuetp6qg6dert.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791687772834-6ik5p9j2i60imd5850mhuetp6qg6dert</string>
	<key>API_KEY</key>
	<string>AIzaSyAn_9BggU8Nc1AFbWXsR-mZTY5yBsmhiGo</string>
	<key>GCM_SENDER_ID</key>
	<string>791687772834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sahasd.tutorapp</string>
	<key>PROJECT_ID</key>
	<string>project-6564761374345501298</string>
	<key>STORAGE_BUCKET</key>
	<string>project-6564761374345501298.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:791687772834:ios:2fea30e875b29c15</string>
	<key>DATABASE_URL</key>
	<string>https://project-6564761374345501298.firebaseio.com</string>
</dict>
</plist>